.App {
  display: grid;
  place-items: center;
}
#to{
  color: rgb(208, 8, 8);
}
.tb{
  width: 70vw;
  background-color: beige;
}
.tb td{
  padding-left: 10px;
}
.tb td:first-child{
  width: 55%;
  background-color: rgb(245,240, 210);
}
.tb td:nth-child(2){
  width: 30%;
  background-color: rgb(235,230, 208);
  
}
.tb td:last-child{
  text-align: end;
  padding-right: 10px;
}
#day{
 margin-right: 25%;
}